@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 87vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    /* transition: all .25s ease-in-out; */
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

.notifications1{
    border-left: 1rem solid var(--bd-callout-border, #bed4fe);
}

.notifications2{
    border-left: 1rem solid var(--bd-callout-border, #bcf5db);
}


.notifications3{
    border-left: 1rem solid var(--bd-callout-border, #bbecfa);
}


.notifications4{
    border-left: 1rem solid var(--bd-callout-border, #f9ecc0);
}

#sidebar.expand {
    width: 215px;
    min-width: 215px;
}
.pagination-nav{
    background-color: transparent !important;
}
nav{
    background-color: #0e2238;
}
.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 0rem 1rem;
}
.menu:hover{
    background-color: #ffffff3b;
    border-radius: 3px;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: 25px 0px 0px 15px
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

/* Estilos existentes... */

@media (max-width: 760px) {
    #sidebar {
        display: none;         
    }

    #sidebar.expand {
        display: block; 
        position: absolute;
        z-index: 1001;
        width: 35%;
        min-width: 53%;
        left: 0;
        top: 0;
        height: 100vh; 
    }
    .sidebar-logo {
        margin-top: 59px;
        margin-left: 24px;
    }

    .main {
        width: 100%; 
        padding-top: 60px; 
    }

    .toggle-btn {
        top: 10px;
        left: 10px;
        z-index: 1002;
        background-color: #0e2238;
        border-radius: 5px;
        padding: 5px;
        color: #FFF;
        display: block; 
    }

    #sidebar.expand ~ .toggle-btn {
        display: none;
    }
    
    }
    .banerinicio{
        width: 100%;
    }

    .footer{
        padding: 1px;
        background-color: #0e2238;
        display: flex;
        flex-direction: row     ;
    
    }

    .piepagina{
        flex-direction: column;
    

    }
    .informacion{
      
    }
    .bi{
        color: white;
        size: 10px;
    }
    .iconos{
        padding: 10px;
        margin-left: 50px;

        
    }

    .texto{
        color:white;
        font-size: 10px;
    }
    .titulo{
        color:white;
        font-size: 15px;
    }

    .g-1{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
    }

    .card{
        margin: 5px;
        justify-content: space-between;
    }


